REACT_APP_SERVER_URL=http://localhost:8080
REACT_APP_MAP_TOKEN=replace-with-mapbox-token
REACT_APP_API_KEY=replace-with-firebase-api-key
REACT_APP_AUTH_DOMAIN=replace-with-firebase-auth-domain
REACT_APP_PROJECT_ID=replace-with-firebase-project-id
REACT_APP_STORAGE_BUCKET=replace-with-firebase-storage-bucket
REACT_APP_MESSAGING_SENDER=replace-with-firebase-messaging-sender
REACT_APP_APP_ID=replace-with-firebase-app-id
REACT_APP_GOOGLE_CLIENT_ID=replace-with-google-client-id
